// minimal config file for 3rd-party pipelines to run on the Wellcome Sanger Insitute HPC ("farm')
profiles {
    standard {
        executor {
            name = 'lsf'
            perJobMemLimit = true
            poolSize = 4
            submitRateLimit = '5 sec'
            killBatchSize = 50
        }

        docker.enabled = false

        singularity {
            enabled    = true
            autoMounts = true
            runOptions = '--bind /data,/lustre,/nfs,/software'
            // To avoid downloading/converting to singularity image every time
            libraryDir = System.getenv("NEXTFLOW_SINGULARITY_LIBRARY")
        }

        process {
            executor = 'lsf'
            queue = { task.memory > 745.GB ? 'teramem' :
                      task.memory > 256.GB ? 'hugemem' :
                      task.time <= 30.m ? 'small' :
                      task.time <= 12.h ? 'normal' :
                      task.time <= 48.h ? 'long' :
                      task.time <= 168.h ? 'week' :
                      'basement'}
        }
    }
}
