// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = "<PROJECT>"
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/<PROJECT>'
    description     = '<Description>'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.0.1'
    recurseSubmodules = "https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/assorted-sub-workflows/-/tags/strain_mapper%2Fv1.2.4; https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/nextflowtool/-/tags/v0.0.2"
}

//import IRODS_EXTRACTOR default config
includeConfig "./assorted-sub-workflows/combined_input/subworkflows/combined_input.config"
includeConfig "./assorted-sub-workflows/irods_extractor/subworkflows/irods.config"

params {
    // Logging options
    monochrome_logs = false

    // Output options
    outdir = "./results"
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
